* {
    font-family: sans-serif;
    // to import google fonts add inside head
    // <link rel="stylesheet" href="fonturl">

    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0;
}
